.chooseus-container{
    display: flex;
    justify-content: center;
    background-image: url('../../assets/flowerimg.svg');
    



}
.chooseus-img img{
 width: 777.2px;
height: 385.8px;
gap: 0px;
opacity: 0px;
}

.chooseus-text h3{
font-family: Kanit;
font-size: 55px;
font-weight: 600;
line-height: 55px;
text-align: left;
width: 453.08px;
height: 165px;
gap: 0px;
opacity: 0px;


}